# Task 4.9 Part 1

## Step 3

In [1]:
# Load librariers
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# Assign path variable
path = '/Users/mariamaske/Instacart Basket Analysis'

In [3]:
# Join path orders.csv
df_customers = pd.read_csv(os.path.join(path,'02 Data','Original Data','customers.csv'), index_col = False)

## Step 4 & 5

In [9]:
# check the import of data with column names
df_customers.head(10)

,user_id,first_name,last_name,sex,state,age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374
5,133128,Cynthia,Noble,Female,Kentucky,43,1/1/2017,2,married,49643
6,152052,Chris,Walton,Male,Montana,20,1/1/2017,0,single,61746
7,168851,Joseph,Hickman,Male,South Carolina,30,1/1/2017,0,single,63712
8,69965,Jeremy,Vang,Male,Texas,47,1/1/2017,1,married,162432
9,82820,Shawn,Chung,Male,Virginia,26,1/1/2017,2,married,32072

In [8]:
#Rename columns
df_customers = df_customers.rename(columns={'First Name':'first_name', 'Surnam':'last_name', 'Gender':'sex', 'Age':'age', 'STATE':'state'})

### Discriptive Statistics check basic stats of database

In [6]:
# Use decripe to identify basic statistical information
df_customers.describe()

             user_id            age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

In [11]:
#Check data types
df_customers.dtypes

user_id          int64
first_name      object
last_name       object
sex             object
state           object
age              int64
date_joined     object
n_dependants     int64
fam_status      object
income           int64
dtype: object

In [12]:
#Change user_id to a integer
df_customers['user_id'] = df_customers['user_id'].astype('int64')

### Check for mixed data types

In [14]:
#check for mixed data types
for col in df_customers.columns.tolist():
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_customers[weird]) > 0:
    print (col)

first_name

#### We identify that first_name is mixed.

In [15]:
#Fix mixed data type by converting to a str
df_customers['first_name'] = df_customers['first_name'].astype('str')

In [16]:
#rerun to check mixed data
for col in df_customers.columns.tolist():
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_customers[weird]) > 0:
    print (col)

### Check for missing values

In [18]:
#check for null values
df_customers.isnull().sum()

user_id         0
first_name      0
last_name       0
sex             0
state           0
age             0
date_joined     0
n_dependants    0
fam_status      0
income          0
dtype: int64

#### We have no missing values.

### Check for duplicate values

In [19]:
# Check for duplicates 
df_dups = df_customers[df_customers.duplicated()]
df_dups

Empty DataFrame
Columns: [user_id, first_name, last_name, sex, state, age, date_joined, n_dependants, fam_status, income]
Index: []

#### We have no duplicates.

## Step 6 & 7

In [21]:
# step 1 import the complete orders_products_merged dataset
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_updated_2.pkl'))

In [22]:
#check import
ords_prods_merge.head(20)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,...,price_range_loc,busiest day,Busiest days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_last_orders,order_frequency_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.37,Low spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer,6.37,Low spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer,6.37,Low spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.37,Low spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Mid-range product,Least busy,Least busy days,Most orders,10,New customer,6.37,Low spender,20.5,Non-frequent customer
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.37,Low spender,20.5,Non-frequent customer
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.37,Low spender,20.5,Non-frequent customer
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.37,Low spender,20.5,Non-frequent customer
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.37,Low spender,20.5,Non-frequent customer
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.37,Low spender,20.5,Non-frequent customer
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.98,Low spender,10.0,Frequent customer
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.98,Low spender,10.0,Frequent customer
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.98,Low spender,10.0,Frequent customer
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.98,Low spender,10.0,Frequent customer
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.98,Low spender,10.0,Frequent customer
15,2293453,19,2,5,14,6.0,196,3,0,Soda,...,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,8.37,Low spender,6.0,Frequent customer
16,1973799,19,5,6,12,8.0,196,15,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,8.37,Low spender,6.0,Frequent customer
17,532817,19,7,4,17,6.0,196,1,1,Soda,...,Mid-range product,Least busy,Least busy days,Average orders,9,New customer,8.37,Low spender,6.0,Frequent customer
18,1573906,21,10,3,10,6.0,196,2,0,Soda,...,Mid-range product,Regularly busy,Least busy days,Most orders,33,Regular customer,7.01,Low spender,7.5,Frequent customer
19,1593000,31,10,3,8,7.0,196,17,0,Soda,...,Mid-range product,Regularly busy,Least busy days,Average orders,20,Regular customer,8.14,Low spender,6.0,Frequent customer

In [23]:
#Recheck data types of orders/products data set
ords_prods_merge.dtypes

order_id                    int64
user_id                     int64
order_number                int64
orders_day_of_week          int64
order_hour_of_day           int64
days_since_last_order     float64
product_id                  int64
add_to_cart_order           int64
reordered                   int64
product_name               object
aisle_id                    int64
department_id               int64
prices                    float64
_merge                   category
price_range_loc            object
busiest day                object
Busiest days               object
busiest_period_of_day      object
max_order                   int64
loyalty_flag               object
average_price             float64
spending_flag              object
median_last_orders        float64
order_frequency_flag       object
dtype: object

In [24]:
#delete merge flag for next merge
del ords_prods_merge['_merge']

In [25]:
#check shape of data
ords_prods_merge.shape

(32404859, 23)

In [29]:
#check shape of data for customers
df_customers.shape

(206209, 10)

In [30]:
#merge data sets on user_id
df_merge = df_customers.merge(ords_prods_merge, on = 'user_id', indicator = True)

In [32]:
df_merge.shape

(32404859, 33)

In [33]:
df_merge['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [34]:
df_merge.head(30)

,user_id,first_name,last_name,sex,state,age,date_joined,n_dependants,fam_status,income,...,busiest day,Busiest days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_last_orders,order_frequency_flag,_merge
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Busiest days,Most orders,8,New customer,7.99,Low spender,19.0,Regular customer,both
1,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Regularly busy,Most orders,8,New customer,7.99,Low spender,19.0,Regular customer,both
2,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Busiest days,Most orders,8,New customer,7.99,Low spender,19.0,Regular customer,both
3,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Regularly busy,Most orders,8,New customer,7.99,Low spender,19.0,Regular customer,both
4,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Least busy days,Most orders,8,New customer,7.99,Low spender,19.0,Regular customer,both
5,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Busiest days,Average orders,8,New customer,7.99,Low spender,19.0,Regular customer,both
6,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Busiest days,Average orders,8,New customer,7.99,Low spender,19.0,Regular customer,both
7,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Regularly busy,Most orders,8,New customer,7.99,Low spender,19.0,Regular customer,both
8,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Busiest days,Most orders,8,New customer,7.99,Low spender,19.0,Regular customer,both
9,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Regularly busy,Most orders,8,New customer,7.99,Low spender,19.0,Regular customer,both
10,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Least busy days,Most orders,8,New customer,7.99,Low spender,19.0,Regular customer,both
11,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Busiest days,Average orders,8,New customer,7.99,Low spender,19.0,Regular customer,both
12,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Busiest days,Most orders,8,New customer,7.99,Low spender,19.0,Regular customer,both
13,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Busiest days,Average orders,8,New customer,7.99,Low spender,19.0,Regular customer,both
14,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Regularly busy,Most orders,8,New customer,7.99,Low spender,19.0,Regular customer,both
15,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Busiest days,Most orders,8,New customer,7.99,Low spender,19.0,Regular customer,both
16,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Least busy days,Most orders,8,New customer,7.99,Low spender,19.0,Regular customer,both
17,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665,...,Regularly busy,Busiest days,Most orders,8,New customer,7.99,Low spender,19.0,Regular customer,both
18,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285,...,Regularly busy,Regularly busy,Most orders,12,Regular customer,7.06,Low spender,26.0,Non-frequent customer,both
19,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285,...,Regularly busy,Busiest days,Average orders,12,Regular customer,7.06,Low spender,26.0,Non-frequent customer,both
20,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285,...,Regularly busy,Regularly busy,Average orders,12,Regular customer,7.06,Low spender,26.0,Non-frequent customer,both
21,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285,...,Regularly busy,Regularly busy,Most orders,12,Regular customer,7.06,Low spender,26.0,Non-frequent customer,both
22,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285,...,Regularly busy,Regularly busy,Most orders,12,Regular customer,7.06,Low spender,26.0,Non-frequent customer,both
23,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285,...,Regularly busy,Regularly busy,Average orders,12,Regular customer,7.06,Low spender,26.0,Non-frequent customer,both
24,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285,...,Regularly busy,Regularly busy,Average orders,12,Regular customer,7.06,Low spender,26.0,Non-frequent customer,both
25,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285,...,Regularly busy,Least busy days,Average orders,12,Regular customer,7.06,Low spender,26.0,Non-frequent customer,both
26,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285,...,Regularly busy,Regularly busy,Most orders,12,Regular customer,7.06,Low spender,26.0,Non-frequent customer,both
27,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285,...,Busiest day,Busiest days,Most orders,12,Regular customer,7.06,Low spender,26.0,Non-frequent customer,both
28,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285,...,Regularly busy,Regularly busy,Most orders,12,Regular customer,7.06,Low spender,26.0,Non-frequent customer,both
29,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285,...,Regularly busy,Regularly busy,Most orders,12,Regular customer,7.06,Low spender,26.0,Non-frequent customer,both

In [36]:
# check the outer join to see how many values dropped
df_merge_outer = df_customers.merge(ords_prods_merge, on = 'user_id', how = 'outer', indicator = True)

In [37]:
df_merge_outer['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

# Step 8 & 9

In [38]:
# export merged product order data set as pickle
df_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'instacard_basket_merged.pkl'))